.body_login_page {
    background-color : #354665;
}

.section_login_page {
    width: 35%;
    margin-left:41%;
    margin-top: 10%;
}

.ul_login_page {
    list-style-type: none;
}

.ul_login_page li{
    float: left;
}

.ul_login_page li a{
    display: block;
    color: black;
    text-align: center;
    width: 10px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    background-color: #F95B53;
    color : #FFFFFF;
    margin-left: 5px;
    border-radius: 10px 10px 0 0;
}

.ul_login_page li a:hover{
    opacity: 0.7;
}

.ul_login_page li:first-child a{
    margin-left: 0;
}

.ul_login_page .active{
    background-color: #0f223d;
}

#content_login_page{
    clear: both;
    width: 50%;
    background-color: #0f223d;
    color : #FFFFFF;
    padding: 4%;
    border-radius: 8% 8% 8% 8%;
}

#form-groupe-login-page{
    width : 100px;
}

#btn_login_page{
    position: absolute; /* postulat de départ */
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    padding: 5px;
}

.div_inline_block{
    width: 50%;
}

.centered-form{
    margin-top: 60px;
    width: 10%;
}

.centered-form .panel{
    background: #0f223d;
    width: 3450%;
    transform: translate(-27%,-10%); 
}

label.label-floatlabel {
    font-weight: bold;
    color: #46b8da;
    font-size: 11px;
}
